@charset "UTF-8";
.roombox{
	position: relative;
	border:1px solid #C0C0C0;
	min-height: 150px;
	width:560px;
	margin: 20px auto 0 auto;
	padding: 30px 190px 20px 224px;
}
.roomtitle{
	display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.Cback .item, .Cmbox {
    background-color: #fff;
}
.Lcfx {
    zoom: 1;
}
.Lcfx:before {
    content: "";
    display: table;
}
.Lfll {
    float: left;
}
Plist_checkin .item {
    padding-left: 15px;
}
.Plist_checkin .item {
    padding-left: 10px;
    padding-right: 10px;
}
.Plist_checkin .ltext {
    float: left;
    line-height: 32px;
    padding-right: 5px;
    font-size: 12px;
    color: #333;
}
.inputbox {
    float: left;
    position: relative;
    z-index: 200;
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}
.Plist_checkin .input1 {
    width: 130px;
}
.Plist_checkin .input1 {
    width: 90px;
}
.Plist_checkin .input1, .Plist_checkin .input2 {
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #eeeae9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    position: relative;
    z-index: 3;
    background-color: transparent;
}
.inputbox .arrowbox {
    z-index: 2;
    position: absolute;
    padding: 3px;
    right: 0;
    top: 0;
}
.Cicon.drop_arrow {
    background-position: -25px -525px;
}
.Plist_checkin .btnbox {
    padding-left: 5px;
}
.Plist_checkin .btnbox .Cbtn {
    display: inline-block;
    font-size: 16px;
    width: 90px;
    padding-left: 0;
    padding-right: 0;
}
.Cbtn.mapsearch, .Cbtn.orderbtn, .Cbtn.std_small {
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
    border-radius: 3px;
    display: inline-block;
    color: #fff;
    background-color: #7f1f59;
    padding: 0 20px;
    text-align: center;
}
.Cbtn {
    cursor: pointer;
}
.Lmr10 {
    margin-right: 10px;
}
a {
    outline: 0;
}
.Cicon{
	background-position: -25px -50px;
	width: 24px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    background-repeat: no-repeat;	
}
.small_wifi {
    background-image: url(../images/coin07.png);
}
.hotelbox .rarea {
    width: 152px;
    position: absolute;
    top: 15px;
    right: 30px;
}
